@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 100%;
    position: relative;
  }
  .cardsize {
    width: 45vh;
    margin: 0 !important;
    border: 1px solid #efd7d7;
    padding: 10px;
    border-radius: 10px;
  }
  .cards {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px; 
  }

  @media screen and (max-width: 600px) {
    .cardsize {
      width: 80%;
      margin: 0 auto;
    }
    .cards {
      justify-content: center;
    }
  }